
  <div>
    <form  [formGroup]="registerForm">
    <table>
      <tr>
          <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input formControlName="name" matInput placeholder="Enter your name">
            </mat-form-field>
            <mat-error *ngIf="!registerForm.controls['name'].valid && registerForm.controls['name'].touched">
              Name required
            </mat-error>
      </tr>
      <tr>
          <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input formControlName="lastname" matInput placeholder="Enter your last name">
            </mat-form-field>
            <mat-error *ngIf="!registerForm.controls['lastname'].valid && registerForm.controls['lastname'].touched">
             Last name required
            </mat-error>
      </tr>
    <tr><mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Enter your email">
      </mat-form-field>
      <mat-error *ngIf= "!registerForm.controls['email'].valid && registerForm.controls['email'].touched">
          Email required
        </mat-error>
    </tr>
    <tr>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password"  matInput placeholder="Enter your password">
          </mat-form-field>
          <mat-error *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched">
              Password required
            </mat-error>
    </tr>
    <tr>
        <button type="button"  mat-raised-button (click)="onSubmit()" color="green">Register</button>
    </tr>
  </table>
</form>
  </div>
        
      